In [1]:
import sys
sys.path.append("..")
sys.path.append("../..")
sys.path.append("../triangle_py/")

In [2]:
import pandas as pd
import numpy as np
from triangle_py.triangle import Triangle
# def test_triangle():
#     df = pd.DataFrame({
#         '12':[10, 10, 10, 10],
#         '24':[20, 20, 20, np.nan],
#         '36':[30, 30, np.nan, np.nan],
#         '48':[40, np.nan, np.nan, np.nan]
#     }, index=[2000, 2001, 2002, 2003])
#     return Triangle.from_dataframe(df=df, id="t")

# t = test_triangle()

# df = t.melt_triangle()
# df = df.assign(is_missing=df.tri.isna()).drop(columns=["tri"])
# df = df.assign(not_missing=df.is_missing.apply(lambda x: not x)).drop(columns=["is_missing"])
# df['not_missing'] = df['not_missing'].astype(int)

In [3]:
# !pytest test_triangle.py

In [4]:
t = Triangle.from_taylor_ashe()
t.df

development_period,1,2,3,4,5,6,7,8,9,10
accident_period,,,,,,,,,,
2001-01-01,357848.0,1124788.0,1735330.0,2218270.0,2745596.0,3319994.0,3466336.0,3606286.0,3833515.0,3901463.0
2002-01-01,352118.0,1236139.0,2170033.0,3353322.0,3799067.0,4120063.0,4647867.0,4914039.0,5339085.0,NaN
2003-01-01,290507.0,1292306.0,2218525.0,3235179.0,3985995.0,4132918.0,4628910.0,4909315.0,NaN,NaN
2004-01-01,310608.0,1418858.0,2195047.0,3757447.0,4029929.0,4381982.0,4588268.0,NaN,NaN,NaN
2005-01-01,443160.0,1136350.0,2128333.0,2897821.0,3402672.0,3873311.0,NaN,NaN,NaN,NaN
2006-01-01,396132.0,1333217.0,2180715.0,2985752.0,3691712.0,NaN,NaN,NaN,NaN,NaN
2007-01-01,440832.0,1288463.0,2419861.0,3483130.0,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-01,359480.0,1421128.0,2864498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01,376686.0,1363294.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01,344014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
t.getCalendarIndex().apply(lambda x: x.index.to_series().dt.year.min() + x - 1)
# + t.df.index[0]

development_period     1     2     3     4     5     6     7     8     9    10
accident_period
2001-01-01          2001  2002  2003  2004  2005  2006  2007  2008  2009  2010
2002-01-01          2002  2003  2004  2005  2006  2007  2008  2009  2010  2011
2003-01-01          2003  2004  2005  2006  2007  2008  2009  2010  2011  2012
2004-01-01          2004  2005  2006  2007  2008  2009  2010  2011  2012  2013
2005-01-01          2005  2006  2007  2008  2009  2010  2011  2012  2013  2014
2006-01-01          2006  2007  2008  2009  2010  2011  2012  2013  2014  2015
2007-01-01          2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
2008-01-01          2008  2009  2010  2011  2012  2013  2014  2015  2016  2017
2009-01-01          2009  2010  2011  2012  2013  2014  2015  2016  2017  2018
2010-01-01          2010  2011  2012  2013  2014  2015  2016  2017  2018  2019

In [6]:
t.getCurCalendarYear()

2010

In [7]:
t.diag()

accident_period
2001-01-01    3901463.0
2002-01-01    5339085.0
2003-01-01    4909315.0
2004-01-01    4588268.0
2005-01-01    3873311.0
2006-01-01    3691712.0
2007-01-01    3483130.0
2008-01-01    2864498.0
2009-01-01    1363294.0
2010-01-01     344014.0
dtype: float64

In [8]:
t.get_X_cal()

,calendar_period,calendar_period_2002,calendar_period_2003,calendar_period_2004,calendar_period_2005,calendar_period_2006,calendar_period_2007,calendar_period_2008,calendar_period_2009,calendar_period_2010,calendar_period_2011,calendar_period_2012,calendar_period_2013,calendar_period_2014,calendar_period_2015,calendar_period_2016,calendar_period_2017,calendar_period_2018,calendar_period_2019
0,2001,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2002,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2003,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2004,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2005,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0
96,2016,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
97,2017,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0
98,2018,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
99,2019,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1